## Request mapping template for startExam
{
  "version": "2017-02-28",
  "operation": "Invoke",
  "payload": {
    "fieldName": "startExam",
    "arguments": $util.toJson($context.arguments),
    "identity": $util.toJson($context.identity),
    "source": $util.toJson($context.source),
    "request": $util.toJson($context.request),
    "prev": $util.toJson($context.prev)
  }
}